*{
    box-sizing: border-box ;
}
body{
    width: 100% ;
    margin: 0;
}
.khoiled:hover 
{
    text-decoration-line: none ;
    background-color: black;
    border-radius: 5px;
}

.khoiled
{
    animation-name: Example ;
    animation-direction: alternate ;
    animation-duration: 3s;
    animation-iteration-count: infinite ;

}

@keyframes Example
{
    form{
        color: red ;
        background-color: black ; 
    }
    to {
        color: slategrey ;
        background-color :salmon ; 
    }
}
.header
{
    background-image: url("th1.jpg");
    background-repeat: no-repeat  ;
    height: 400px;
    background-size: 100% 100%;
    padding-top:20px; 
}
.col-sm-6 a
{
    color: black;
}

.content
{
    margin : auto ;
    text-align: center;
    padding-top: 100px; 
}
.content button
{
    opacity: 0.2;
    color: black ;
    font-weight: bolder;
    border-radius: 20px;
    width: 180px; 
    padding: 10px;
}
.About img 
{
    margin-right: 25px;
    height: 250px;
    border: solid 5px ;

}
.About  
{
    padding-left: 25px;
    margin-bottom: 25px;
}
.contact
{
    margin: auto;
    text-align: center;
    margin-bottom:25px; 
}
.container1
{
    margin: auto ;
    text-align: center;
}
.footer
{
    background-color: grey;
    padding: 10px; 
}
.form button
{
    border-radius: 20px;
    padding: 15px; 
    background-color: red ;
    color : white;
    margin-top: 20px; 
}